[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt = "*"
dbt-snowflake = "*"
charset-normalizer = "*"
dbt-extractor = "*"

[dev-packages]

[requires]
python_version = "3.11"
